body {
    padding: 0;
    margin: 0;
    width: 1200px;
    height: 2079px;
    /* font-family: 'Playfair Display',
        serif;
    font-family: 'Ubuntu',
        sans-serif; */
    /* background-color: aquamarine; */
}

/* Header========================================= */

/* article-1====================================== */

.article-1 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 220px;
    margin-top: 105px;


}


/* article-2====================================== */
.article-2 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 105px;




}



/* article-3====================================== */
.article-3 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 220px;
    margin-top: 80px;
}

/* article-4====================================== */
.article-4 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 80px;

}

/* article-5====================================== */
.article-5 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 220px;
    margin-top: 80px;
}

/* article-6====================================== */
.article-6 {
    display: inline-block;
    width: 420px;
    height: 478px;
    margin: 0 auto;
    margin-left: 60px;
    margin-top: 80px;
}