html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Playfair Display", "Ubuntu", serif;
}

a {
    text-decoration: none;
}

h2 {
    color: #626262;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
}

p {
    color: #626262;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* HEADER================== */
.header {
    text-decoration: none;
}

/* Nav========================================= */
.nav {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.nav li:last-child {
    margin-right: 0;
}


.nav li {

    display: inline-block;
    margin-top: 53px;
    margin-bottom: 68px;
    margin-right: 120px;

}

.nav a:hover,
.nav a:focus {
    color: #03a9f4;
    ;
}

/* Container========================================= */

.container {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 54px;
    font-family: "Playfair Display";

}

.subtitle {
    color: #b4ad9e;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

}

/* article-====================================== */

.article-first {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-right: 56px;

}

.article-second {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
}


.article-third {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-right: 56px;
    margin-top: 30px;

}

.article-fourth {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.article-fifth {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-right: 56px;
    margin-top: 30px;
}

.article-sixth {
    display: inline-block;
    width: 420px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}




/* BUTTON==================================== */


.button-wrapper {
    text-align: center;
}

.button {
    border: 1px solid #626262;
    width: 164px;
    height: 60px;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    background-color: transparent;
    /* padding: 21px 34px; */

}

.button button:hover,
.button button:focus {
    color: #03a9f4;
    ;
}